@import "normalize";

// User menu
$menu-bg: #333 !default;

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// User menu
.region-user-menu{
    background: $menu-bg;
    h2{
    	display: none;
    }
    ul{
    	margin: 0;
    	padding: 1rem;
    	list-style: none;
    	li{
    		display: inline-block;
    		float: right;
    		margin: 0 1rem 0 0;
    		a{
    			color: #fff;
    			text-decoration: none;
    		}
    	}
    	&:after{
    		content: ' ';
    		display: table;
    		clear: both;
    	}
    }
}